.main_overall_page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}

.main_title {
  font-size: 10em;
  margin-bottom: 20px;
}

.main_bottom_logo {
  font-size: 2.5em;
  color: #1db954; /* Spotify Green */
  text-decoration: none;
}

.main_bottom_hover:hover {
  text-decoration: underline;
}
