.main_overall_page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #8aaba7;
}
.main_header_div {
  text-align: center;
  width: auto;
  height: auto;
}
.logo {
  font-size: 100px;
}
.link {
  color: green;
  font-size: 40px;
  display: block;
}
