

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Wrapify Home</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/stylesHP.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <!--logged_in = logged_in, name = name, followers = followers, profilepic = profilepic-->
  <body class="homepagebody">
    <nav class="navbar">
      <div class="logo-container">
        <h1 class="logo">Wrapify</h1>
      </div>
      <ul>
        <li>
          <a
            href="{{ '/topsongs' if logged_in else '#' }}"
            class="{{ 'nav-link disabled' if not logged_in else 'nav-link' }}"
            >Top Songs</a
          >
        </li>


        
        <li>
          <a
            href="{{ '/findlyrics' if logged_in else '#' }}"
            class="{{ 'nav-link disabled' if not logged_in else 'nav-link' }}"
            >Lyrics</a
          >
        </li>



        <li>
          <a
            href="{{ '/artistsearch' if logged_in else '#' }}"
            class="{{ 'nav-link disabled' if not logged_in else 'nav-link' }}"
            >Search</a
          >
        </li>


        <!-- <li>
          <a
            href="{{ '/playlist' if logged_in else '#' }}"
            class="{{ 'nav-link disabled' if not logged_in else 'nav-link' }}"
            >Playlists</a
          >
        </li> -->
        <!-- <li>
          
          <a
            href="/login"
            class="get_started {{ 'hidden' if logged_in else '' }}"
            >Get Started</a
          >
        </li> -->
      </ul>
    
      <a
      href="{{ '/logout' if logged_in else '#' }}"
      class="{{ 'nav-link disabled' if not logged_in else 'nav-link' }}"
      >Log Out</a>

    </nav>
    <!--logged_in = logged_in, name = name, followers = followers, profilepic = profilepic-->
    <main>
      <div class="main_overall_page">
        <div class = "left_div"> 

        </div>
        <div class = "right_div">
          {% if logged_in %}
            <div class = "right_div_content">
              <h1 class = "welcome">Welcome to Wrapify, {{ name }}!</h1>
              <div class = "profile_info">
              <img src="{{ profilepic }}" alt="profile picture" class = "profile_pic">
             <div class = "profile_text">
              <!-- <h2 class = "profile_name">{{ name }}</h2> -->
                <!-- <p class = "followers">{{ followers }} followers</p> -->
              </div>
            </div>
        </div>
      
        {% else %}
        <div class="right_div_content">
          <h1 class="welcome">Welcome to Wrapify!</h1>
          <p class ="below-welcome">Please <a href="/login">log in</a> to see your profile and playlists.</p>
        </div>
      {% endif %}



      </div>
    </main>
  </body>
</html>



