<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User Top Songs</title>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/stylesTS.css') }}"
    />
    <script
      src="{{ url_for('static', filename='js/topsongs.js') }}"
      defer
    ></script>
  </head>
  <body>
    <div class="top_container">
      <h1 class="title">Your Top Songs</h1>
      <div class="top_buttons_container">
        <button onclick="fetchTopSongs('short_term')">Recently</button>
        <button onclick="fetchTopSongs('medium_term')">Last Half Year</button>
        <button onclick="fetchTopSongs('long_term')">Last Year</button>
      </div>
    </div>
    <div id="top-songs"></div>
  </body>
</html>
