/*buttons and title (non javac stuff)
*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #191414;
}
.button-split {
  display: flex;
  align-items: center;
}
.button-separator {
  margin-left: auto;
  margin-right: 60px;
}
.home_button {
  font-size: 20px;
  background-color: #1db954;
  color: rgb(0, 0, 0);
  border: none;
  padding: 15px 25px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 80px;
  text-align: center;
  text-decoration: none;
}
.home_button:hover {
  background-color: #14833b;
  transform: scale(1.1);
  transition-property: transform;
  transition-duration: 0.1s;
}
.top_container {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  border-bottom: 2px solid #1db954;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.top_buttons_container {
  display: flex;
  gap: 25px;
  padding-left: 25px;
}
.top_buttons_container button {
  padding: 15px 25px;
  border: 1px solid #040404;
  border-radius: 50px;
  background-color: #8a8a8a;
  color: rgb(6, 6, 6);
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.title {
  color: #1db954;
  font-size: 55px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 10px;
}
.toggle_buttons.active {
  color: #000000;
  background-color: #1db954;
}

/* javascript part*/
.columns_date_duration {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.song_item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  gap: 12px;
}

.song_item:hover {
  transform: scale(1.01);
  transition-property: transform;
  transition-duration: 0.3s;
}

.album_info {
  display: flex;
  align-items: center;
  gap: 23px;
}

.album_img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
}

.song_details {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.song_index {
  font-weight: bold;
  color: #030303;
}

.song_name {
  font-size: 20px;
  font-weight: bold;
}

.artists {
  color: #696969;
}

.song_details p {
  margin: 0; /* Removes default margin added by p tags */
}

.song_extra_info {
  display: flex;
  font-size: 15px;
  color: #777;
  gap: 120px;
}

.spotify_link a {
  text-decoration: none;
  color: #1db954;
  font-weight: bold;
}

.spotify_link a:hover {
  color: #14833b;
}
.toggle_buttons:hover {
  background-color: #14833b;
  transform: scale(1.1);
  transition-property: transform;
  transition-duration: 0.1s;
}
.toggle_buttons {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
}
.popularity {
  display: flex;
  font-size: 15px;
  color: #777;
}
.i-button {
  align-self: flex-start;
  background-color: #1db954;
  color: rgb(0, 0, 0);
  border: none;
  padding: 2px 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
}
.i-button:hover + .i-show {
  display: inline;
}
.i-button-container .i-show {
  display: none;
}

.i-button-container .i-button:hover + .i-button {
  display: inline;
}

.columns_popularity {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.i-button-container {
  display: flex;
  gap: 10px;
}
.i-show {
  display: none;
}
