.navbar {
  background-color: rgb(0, 0, 0);
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 2px solid rgb(115, 50, 205);
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
}

/* Style the links */

.logo {
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin: 0; /* Remove default margin */
}
a.get_started {
  color: white;
  background-color: rgb(115, 50, 205);
  font-weight: bold;
  border-radius: 20px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
}

/* Hidden button */
.get_started.hidden {
  display: none;
}

/* Disabled link */
.disabled {
  color: grey;
  cursor: not-allowed;
  pointer-events: none;
}
.homepagebody {
  background-color: #1db954;
  background: linear-gradient(135deg, #1db954 0%, #191414 100%);
}
/* .navbar a:hover {
  color: rgb(63, 80, 63);
} */

.navbar a {
  text-decoration: none; /* Remove underline */
  font-size: 25px;
  padding: 15px;
  color: white;
}

/* main section */

.main_overall_page {
  display: flex;
}
.left_div {
  width: 50vw;
}
.right_div {
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.welcome {
  font-size: 50px;
  font-weight: bold;
  color: white;
  margin: 15px;
}
.below-welcome {
  font-size: 20px;
  color: white;
  margin: 15px;
}
.right_div_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
